<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creating.dao.mapper.goods.SuppliersEtyMapper">
	<resultMap id="BaseResultMap" type="com.creating.dao.mapper.entity.goods.SuppliersEty">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="code" jdbcType="VARCHAR" property="code"/>
		<result column="lxr" jdbcType="VARCHAR" property="lxr"/>
		<result column="lxdh" jdbcType="VARCHAR" property="lxdh"/>
		<result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, code, lxr, lxdh, remark
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from t_suppliers
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="querySuppliers" resultType="com.creating.dao.mapper.entity.goods.SuppliersEty"
	        parameterType="com.creating.dao.mapper.entity.goods.SuppliersEty">
		SELECT *
		FROM t_suppliers
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM t_suppliers
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.creating.dao.mapper.entity.goods.SuppliersEty">
		INSERT INTO t_suppliers (id, name, code,
		                         lxr, lxdh, remark)
		VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
		        #{lxr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.creating.dao.mapper.entity.goods.SuppliersEty">
		insert into t_suppliers
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="lxr != null">
				lxr,
			</if>
			<if test="lxdh != null">
				lxdh,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="lxr != null">
				#{lxr,jdbcType=VARCHAR},
			</if>
			<if test="lxdh != null">
				#{lxdh,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.creating.dao.mapper.entity.goods.SuppliersEty">
		update t_suppliers
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="lxr != null">
				lxr = #{lxr,jdbcType=VARCHAR},
			</if>
			<if test="lxdh != null">
				lxdh = #{lxdh,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.creating.dao.mapper.entity.goods.SuppliersEty">
		UPDATE t_suppliers
		SET name   = #{name,jdbcType=VARCHAR},
			code   = #{code,jdbcType=VARCHAR},
			lxr    = #{lxr,jdbcType=VARCHAR},
			lxdh   = #{lxdh,jdbcType=VARCHAR},
			remark = #{remark,jdbcType=VARCHAR}
		WHERE id = #{id,jdbcType=INTEGER}
	</update>
</mapper>